<!DOCTYPE html>
<html>
        <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Gestion Stock!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
              <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

        
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
       <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">

        {% block javascripts %}{% endblock %}
    
    </head>
    <body >

         {% include "_partials/_nav.html.twig"%}
        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig"%}

        
    </body>
</html>
